
#restaurants-list {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.inside #maincontent {
	width:100%;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

	flex-direction: row;
	justify-content: space-around;

	margin-top: 100px;
}

.inside #map-container {
  padding: 10px;
	height: 400px;
}

#restaurant-container {
		text-align:center;
}

#restaurant-container, #reviews-container {
 border-bottom: 1px solid #d9d9d9;
 border-top: 1px solid #fff;
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#restaurants-list {
		max-width: 1000px;
		margin: 0 auto;
	}

	.inside #maincontent > section{
			width: 48%;
	}

 }

 /* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px){
	  .inside #maincontent > section {
	    width: 100%;
		}

		.inside #map-container {
			 height:400px;
			 width: 98vw;
			 margin:10px;
		}
}
